*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   max-width: 1111px;
    height: 800px;
    display: flex;
    margin:0 auto;
    background: #FFF;
}

.head{
    display: flex;
    width: 100%;
}
.head img {
    width: 100px;
    height: 80.833px;
    margin: 0 0 0 43px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color:#2F6BFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 0 34px;
}


.item-image{
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
    
    width: 100%;
}
.item-image img{
    width: 120px;
    height: 150px;

}
.image-THEGV{
    display: flex;
    margin-top: 50px;
    margin-bottom:50px;
    margin-left:25px;
    margin-right: 25px;
    width: 100%;
}
.image-THEGV img{
    width: 200px;
    height: 150px;

}

.chiadoi{
    width: 1111px;
    margin: 0 auto;
    height: 600px;
}
#chia{
    overflow:auto;
}
#trai{
    
    width: 250px;
    height: 600px;
    float: left;
    border: 1.5px solid #000;
    
}
#giua{
    width: 250px;
    height: 600px;
    float: left;
    border: 1.5px solid #000;
}

#phai{
    width:611px;
    height: 600px;
    float: right; 
    border: 1.5px solid #000;
    padding: 10px 10px 10px 10px; 
}
h1{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom:25px;
    box-sizing: border-box;
}

table, th, td{
    width: 581px;
    border: 2px solid; 
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}
th{
    background-color: #F1EDED;
}

td{
    text-align: center;
}



.block {
    display: block;
    width: 100%;
    border: none;
    background-color:  #f1eded;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #1e2125;
  }