*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 1168px;
    height: 816px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.container{
    display: flex;
    margin: 0 79px 0 40px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.LogIn{
    width: 359px;
}

.title{
    display: flex;
    width: 291px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    color: #444;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Input_Box{
    position: relative;
    margin-bottom: 38px;
}

form svg{
    position: static;
    top: 0;
    left: 0;
}

input{
    position: absolute;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #232020;
    padding: 0 35px 0 5px;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 23px;
}

button{
    display: flex;
    width: 363px;
    height: 44px;
    border-radius: 24px;
    background: #34B7F1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}

.forget{
    width: 363px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

a{
    text-decoration: none;
    color: black;
}
