*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   max-width: 1111px;
    height: 1000px;
    display: flex;
    margin:0 auto;
    background: #FFF;
}

.head{
    display: flex;
    width: 100%;
}
.head img {
    width: 100px;
    height: 80.833px;
    margin: 0 0 0 43px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: #2F6BFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 0 34px;
}
.item-mssv{
    display: flex;
    align-content: center;
    font: weight 91px;
    fornt-height:20px;
    flex-wrap: wrap;
    font-style: normal;
    font-size: 22px;
}

.item-image{
    display: flex;
    width: 100%;
}
.item-image img{
    width: 91px;
    height: 115px;

}
.item-MV{
    display: flex;
    align-content: center;
    font: weight 91px;
    fornt-height:20px;
    font-size: 22px
}
.sinhvien{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid #7dabe8;
    padding: 10px 10px 10px 10px; 
}
.chiadoi{
    width: 1111px;
    margin: 0 auto;
    height: 800px;
}
#chia{
    overflow:auto;
}
#trai{
    
    width: 300px;
    height: 800px;
    float: left;
    border: 3px solid #7dabe8;
    
}

#phai{
    width:811px;
    height: 800px;
    float: right; 
    border: 3px solid #7dabe8;
    padding: 10px 10px 10px 10px; 
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(73, 146, 224);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #1e2125;
  }