<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin Sinh viên</title>
    <link rel="stylesheet" href="./../static/css/ThongTinSV.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <img src="./../static/Img/image-3.webp" alt="Logo UIT">
            <div id="title">Thông tin sinh viên</div>
        </div>
        <div class="line">
            <svg xmlns="http://www.w3.org/2000/svg" width="1109" height="4" viewBox="0 0 1109 4" fill="none">
                <path d="M-2 2C-2 3.10457 -1.10457 4 0 4H559.997H1107C1108.1 4 1109 3.10457 1109 2C1109 0.895431 1108.1 0 1107 0H559.997H9.77516e-06C-1.10456 0 -2 0.895431 -2 2Z" fill="#34B7F1"/>
            </svg>
        </div>
    </div>
</body>
</html>