<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThongTinGV</title>
    <link rel="stylesheet" href="ThongTinGV.css">
</head>
<div class="container">
    <div class="head">
        <img src="Img/image-3.webp" alt="Logo UIT">
        <div id="title">Kỹ thuật hệ thống máy tính - CE410.O11.MTCL</div>
    </div>
    <div class="line">
        <svg xmlns="http://www.w3.org/2000/svg" width="1111" height="4" viewBox="0 0 1111 4" fill="none">
            <path d="M-2 2C-2 3.10457 -1.10457 4 0 4H559.997H1107C1108.1 4 1109 3.10457 1109 2C1109 0.895431 1108.1 0 1107 0H559.997H9.77516e-06C-1.10456 0 -2 0.895431 -2 2Z" fill="#34B7F1"/>
        </svg>
    </div>
      
    <div id="chia" class="chiadoi">
        <div id="trai">
           <button type="button" class="block">Thông tin sinh viên</button>
           <button type="button" class="block">Lớp học</button>
           <button type="button" class="block">Quản lí</button>
           <button type="button" class="block">Tra cứu</button>
        </div>
        <div id="giua">
            <a href="" class="item-image">
                <img src="./Img/tải xuống.png" alt=""  >
            </a>
            <a href="" class="image-THEGV">
                <img src="./Img/MATTRUOCTHEGV.png" alt=""  >
            </a>
            <a href="" class="image-THEGV">
                <img src="./Img/MATSAUTHEGV.png" alt=""  >
            </a>
        </div>
        <div id="phai">
              
            <h1>Thông tin giảng viên</h1>
            
            <table>
                <tr>
                    <th>Họ và tên</th>
                    <td>Lê H**** K****</td>
                    
                </tr>

                <tr>
                    <th>Ngày Sinh</th>
                    <td>00/00/0000</td>
                    
                </tr>    

                <tr>   
                    <th>Giới tính</th>
                    <td>Nam/Nữ</td>
                    
                </tr>     

                <tr>    
                    <th>Ngày vào làm</th>
                    <td>1/2/3/4</td>
                    
                </tr>    
                    
                <tr>    
                    <th>Khoa</th>
                    <td>KTMT</td>
                    
                </tr>    

                <tr>    
                    <th>Mã số giảng viên</th>
                    <td>2052xxxx</td>
                    
                </tr>    

                <tr>    
                    <th>CCCD</th>
                    <td>000000000000</td>
                    
                </tr>    

                
            </table>
            </div>
       </div>
   
   </div>
   
   
</div>

</body>
</html>
